/* Variables */

:root{
  --text-color: #000000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  gap: 2rem;
  height: 100vh;
}

.main-title{
  padding: 2rem;
}

.cards-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.card-container{
  width: 300px;
  border: 1px solid black;
  color: var(--text-color);
}
.edit-panel{
  padding: 0;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  background-color: beige;


}

.color-input{
  background-color: transparent;
  padding: 0;
  margin: 0;
  appearance: none;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;

}

.color-input::-webkit-color-swatch{
  border-radius: 50%;
  border: none;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:0;
  /* position: fixed; */
  background-color: beige;
}